<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="css/style.css">
	<title>Site Mine</title>
</head>
<body>
	<!-- NAVBAR -->
	<header>
		<nav>
			<ul class="nav nav-full">
				<!-- HOME -->
				<li class="nav-item"><a class="nav-link" href="#home1">HOME</a></li>
				<!-- BOUTONS MILIEU -->
				<li>
					<ul class="nav nav-tabs">
						<li class="nav-item">
							<a class="nav-link active show" href="#home1">ARTICLES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#profile1" >CHOOSE YOUR TEAM</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#messages1" >PRODUCTS</a>
						</li>
					</ul>
				</li>
				<!-- SETTINGS -->
				<li>
					<%= image_tag 'jinx_chibi.jpg' , width: 50 %>
				</li>
			</ul>
		</nav>
	</header>

	<!-- BANNER -->
	<div class="hero-image">
	  <div class="hero-text">

	    <h1>Jinx VS Harley Quinn</h1>
	    <p>The Great Fight!</p>

	    <a class="btn btn-primary btn-round" type="button" href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=2ahUKEwjrg_-4qurcAhVGUhoKHQnGBVcQyCkwAHoECAYQBA&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DR08TDgDyBHA&usg=AOvVaw1XRafrQgAIb6Od9Cpoe05p">Video Available Here</a>
	  </div>
	</div>

	<!-- CARD -->
	<section class="card-prod">
		<div>
			<strong>Disponibilité : Les derniers arrivages en boutique</strong><br>
			<p class="texte">Les produits de notre boutique sont <strong>continuellement</strong> ré approvisionnés, n'hésitez pas a revenir chaque jour pour vérifier la <strong>disponibilité</strong> des articles.</p>
		</div>

		<div class="card3">
			<div class="card">
				<%= image_tag 'figurine.png', width: 200 %>
			  <div class="container">
			    <b>Figurine yhyrfddddddJinx Pyrotechnicienne</b>
			    <p class="texte">Figurine en stock</p>
			  <button class="btn btn-success btn-round" type="button">ACHAT</button>
			  </div>
			</div>
			<div class="card">
				<%= image_tag 'harleybat.jpg', width: 200 %>
			  <!-- <img src="img/harleybat.jpg" alt="Avatar2" width=200px> -->
			  <div class="container">
			    <b>Figurine HarleyQuinn et Batman</b>
			    <p class="texte">Figurine en stock</p>
			  <button class="btn btn-success btn-round" type="button">ACHAT</button>
			  </div>
			</div>
			<div class="card">
				<%= image_tag 'fishbones.jpeg', width: 200 %>
			  <!-- <img src="img/fishbones.jpeg" alt="Avatar3" width=200px> -->
			  <div class="container">
			    <b>Canon Fishbones</b><br>
			    <strong>VENTE SPECIALE!</strong>
			    <p class="texte">Rare item qui n'apparait que très rarement chaque décennie.<br>Peut réduire en cendre tout obstacle sur son chemin.</p>
			    <button class="btn btn-success btn-round" type="button">ACHAT</button>
			  </div>
			</div>
		</div>

	</section>

	<!-- SEPARATE -->
	<div class="separate"></div>

	<!--  TABS  -->
	<div class="wrapper">
	    <input type="radio" name="tab" id="tab-1" checked>
	    <label for="tab-1">Working</label>
	    <input type="radio" name="tab" id="tab-2" checked>
	    <label for="tab-2">Wait</label>
	    <input type="radio" name="tab" id="tab-3" checked>
	    <label for="tab-3">Well</label>
	    
	    <div class="content">
	      <article class="tab-1">En cours de travail</article>
	      <article class="tab-2">Veuillez patienter</article>
	      <article class="tab-3">Merci d'être arrivé jusque là</article>
	    </div>
  	</div>

</body>
</html>