#nav{
	height: 10%;
}
/* NAVBAR */
.nav{
	background-color: white;
	list-style-type: none;
	line-height: 10px;
	margin: 0;
	padding: 0;
	width: 100%;
}
/* NAVBAR ENTIERE */
.nav-full{
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* NAVBAR MILIEU */
.nav-tabs{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
/* LI */
.nav-item{
	border-radius: 0.15rem;
	
	font-size: 0.8571em;
	line-height: 1.35em;

	margin: 10px 5px;
	padding: 11px 22px;

	cursor: pointer;
	background-color: #FFFFFF;
}
.nav-item:hover{
	border-bottom: solid black 2px;
}
/* LIEN A */
.nav-link{
	text-decoration: none;
	color: black;
}

.profil{
	border-radius: 60%;
}